#navbar ul {
    background-color: #FF9978;
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    margin: 0;
    padding: 15;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
#navbar ul li {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
#navbar a:hover {
    background-color: #FFBAAB;
    border-radius: 4px;
  }